<!-- editUserRole.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User Role</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<h2>Edit User Role</h2>
<form th:action="@{/editUserRole/{userId}(userId=${user.id})}" method="post">
    <p>Current User: <span th:text="${user.name}"></span></p>
    <label for="roleId">Choose a Role:</label>
    <select id="roleId" name="roleIds" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:selected="${user.roles != null and user.roles.contains(role)}">
            <span th:text="${role.name}"></span>
        </option>
    </select>
    <div class="col-6 mb-3">
        <label for="allRoles">Chọn các vai trò :</label>
        <select th:field="*{allRoles}" id="allRoles" class="form-select" multiple>
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
        <span th:if="${#fields.hasErrors('monHocs')}" th:errors="*{allRoles}" class="text-danger"></span>
    </div>
    <br/><br/>
    <input type="submit" value="Update Role">
</form>
</body>
</html>
