<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container mt-4">
    <h1 th:text="${title}">Danh sách người d</h1>
    <th sec:authorize="hasAnyAuthority('ADMIN')">

    </th>
    <table class="table table-bordered">
        <thead>
        <tr>
        <tr>
            <th>ID</th>
            <th>Tên đăng nhập</th>
            <th>Địa chỉ Email</th>
            <th>Họ và tên</th>
            <th>Quyền</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
            <td>
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/editUserRole/{id}(id=${user.id})}" >Phân quyền</a> |
                <a th:href="@{/editLockOutEnd/{id}(id=${user.id})}" onclick="return confirm('Bạn có chắc chắn muốn khóa tài khoản này?')">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
