<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <h3 class="card-title text-center">ĐĂNG NHẬP</h3>
            <form th:action="@{/resetPassword}" th:object="${resetPasswordViewModel}" method="post">
                <fieldset>
                    <input type="hidden" th:field="*{email}" th:value="${resetPasswordViewModel.email}" />
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Mật khẩu mới: </label>
                        <input type="password" required class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới: </label>
                        <input type="password" required class="form-control" id="confirmPassword" name="confirmPassword">
                        <div th:if="${error}" class="alert alert-danger">
                            <span th:text="${error}"></span>
                        </div>


                    </div>

                    <div class="d-grid gap-2 form-action">
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>